# Server Config
PORT=8080
GIN_MODE=debug

# MySQL Database Config
DB_USER=smart_washer
DB_PASS=smart_washer_password
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=smart_washer_db

# MQTT Broker Config
MQTT_BROKER=tcp://localhost:1883
MQTT_CLIENT_ID=backend_go_01
MQTT_USER=
MQTT_PASS=